body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-position: center;
  background-size: auto;
}

.title {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}

.btn {
	position: absolute;
	width: 15em;
  	left: 40%;
  	right: 60%;
  	top: 65%;
  	position: center;
}